* {
  margin: 0;
}

.header {
  height: 400px;
  width: 100%;
  background-color: #00070a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  position: relative;
  top: 120px;
}

.header h2 {
  text-align: center;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: darkgrey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
}