* {
  margin: 0;
}

.header {
  height: 400px;
  width: 100vw;
  background-color: #99fff0;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}

header h2 {
  text-align: center;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: darkgrey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
}