.new-tweet {
  display: flex;
  flex-direction: column;
  background-color: #4056A1;
  height: 200px;
  margin: 15px 0px;
  border-radius: 30px;
  border: 2px solid black;
  color: white;
}

.new-tweet:hover {
  box-shadow: 
    0 20px 30px 5px rgba(0, 0, 0, 0.5),
    0 5px 5px 0 rgba(8, 8, 8, 0.246);
}

.new-tweet label {
  height: 60px;
  line-height: 60px;
  font-size: xx-large;
  text-align: center;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.tweet-form textarea {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 80%;
  resize: none;
}

.tweet-form textarea:focus {
  outline: none;
}

.button-and-counter {
  margin-top: 5px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-btn {
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.error-msg {
  color: white;
  background-color: red;
  border: 2px solid black;
  border-radius: 8px;
  width: 40%;
  text-align: center;
  position: relative;
  right: 30px;
}
